<h2><%= @list.name %></h2>

<%= pluralize(@list.movies.size, "movie") %>

<%= link_to "Add a movie", list_path(@list), class: "btn btn-primary" %>
<%= link_to "Delete this list", lists_path(@list), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
<%= link_to "Back to my list", lists_path(@list), class: "btn btn-primary" %>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
    <strong><%= movie.title %> <span class="text-muted font-weight-normal">
            <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <%= movie.overview %>
<% end %>
